@import "../../../styles/settings"; 
@import "../../../styles/base"; 

.card{
  margin: 15px; 
  margin-bottom: 15px;
  margin: 0 auto;
}
.avatar{
  max-height: 150px;
}

.avatar-img{
  max-height: 150px;
  border-radius: 50%;
}


