.navbar-color{
  background: rgb(244,148,135);
  background: linear-gradient(40deg, rgba(244,148,135,1) 32%, rgba(55,93,127,1) 100%);
}

.navbar{
  font-family: 'Muli', sans-serif; 
  font-weight: 800;
}