<!-- <div class="row">
  <div class="col-md-12">
    <form [formGroup]="userForm" (ngSubmit)="onAddedUser()">
      <div class="form-group">
        <label for="name">
          Name:
          <input
            type="text"
            class="form-control"
            formControlName="name"
            value="{{ user.name }}"
            required
          />
          />
          <div *ngIf="name.invalid && submitted" class="alert alert-danger">
            <div *ngIf="name.errors.required" class="invalid-feedback">
              Name is required
            </div>
            <div *ngIf="name.errors.minlength" class="invalid-feedback">
              Name should be at least 2 characters long
            </div>
            <div *ngIf="name.errors.maxlength" class="invalid-feedback">
              Name cannot be longer than 20 characters
            </div>
          </div>
        </label>
        <div class="form-group">
          <label for=""
            >Date:
            <input
              type="date"
              class="form-control"
              formControlName="birthdate"
              required
              #birthdateInput
            />
          </label>
        </div>
      </div>

      <button
        class="btn btn-primary"
        (click)="onAddedUser()"
        [disabled]="!userForm.valid"
        *ngIf = "isUserCreate"
      >
        Create user
      </button>

      <button class="btn btn-primary" *ngIf="isUserEdit"
        [disabled]="!isUserForm.valid"
        (click)="onUserEddit()"
        >

      </button>
    </form>
  </div>
</div>
<hr /> -->
