<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mb-5">This is a test for InnoCV</h3>
      <hr />
      <div class="row mt-3 justify-content-between">
        <div class="col-md-3 text-center mt-1">
          <a class="btn btn-success" routerLink="/create">Create an user</a>
        </div>
        <div class="col-md-3 text-center mt-1">
          <a class="btn btn-primary" routerLink="/list">List users</a>
        </div>
      </div>
    </div>
  </div>
</div>
